* {
	box-sizing: border-box;
	font-family: 'Taviraj', serif;
	outline-color: #ccc;
	outline-offset: -2px;
	font-size: 16px;
}

body {
	margin: 0;
	background-image: url('../images/cube.jpg');
}

.header {
	height: 70px;
	line-height: 70px;
	padding-left: 20px;
}

[name="repository"] {
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #aaa;
	padding: 2px;
	font-size: 14px;
}

[name="repository"]:focus {
	background: #fff;
}

.err-msg {
	margin-left: 30px;
	opacity: 1;
	color: red;
	transition: opacity 1s ease-out;
}

.invisible {
	opacity: 0;
	transition: opacity 1s ease-out;
}

.right-menu {
	position: absolute;
	right: 20px;
	top: 20px;
}

.switch-mode {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 35px;
}

.switch-mode input {
	display: none;
}

.slider {
  position: absolute;
  box-shadow: 1px 1px 5px #aaa;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: url('../images/star-grey.png');
  left: 4px;
  bottom: -4px;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #fff500;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.refresh-all-btn {
	margin-right: 20px;
	position: relative;
	top: -14px;
}

.card {
	width: 300px;
	height: 350px;
	border-radius: 10px;
	float: left;
	box-shadow: 2px 2px 10px #aaa;
	margin-top: 20px;
	margin-left: 15px;
	background-color: #fff;
	transition: all 1s ease-out;
}

.card-invisible {
	margin-top: -350px;
	margin-left: -300px;
	transform: scale(0);
}

.card-deleted {
	margin-top: -9000px;
	margin-left: -9000px;
	transform: scale(0);
	transition: transform 0.5s, margin-left 15s, margin-top 15s;
}

.card__header {
	height: 60px;
	line-height: 60px;
	position: relative;
}

.card__header h3 {
	margin: 0;
}

.card-star {
	position: absolute;
	right: 10px;
	top: 0px;
}

.starred .card-star img {
	background: #fff500;
}

.card-star img {
	border-radius: 50%;
}

.card a {
	color: black;
	text-decoration: none;
}

.card a:hover {
	text-decoration: underline;
	color: red;
}

.card__header,
.card__footer {
	text-align: center;
}

.commits-list {
	height: 250px;
	padding: 0 5px;
	margin: 0;
	position: relative;
}

.commits-list__item {
	white-space: nowrap;
	margin-bottom: 10px;
	padding: 5px 10px;
	display: block;
	width: 290px;
	overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
}

.commits-list__item:hover {
	position: absolute;
	white-space: normal;
	overflow: visible;
	background: #fff;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #aaa;
	z-index: 100;
	text-align: justify;
	transition: box-shadow 0.4s ease;
}

.btn {
	font-size: 12px;
	cursor: pointer;
	padding: 3px 10px;
	border-radius: 5px;
	background: white;
	border: none;
	box-shadow: 1px 1px 5px #aaa;
}

.card__footer {
	height: 40px;
}

